certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
joblib==1.4.2
nltk==3.9.1
regex==2024.9.11
requests==2.32.3
tqdm==4.66.5
urllib3==2.2.3
selenium==4.18.1
beautifulsoup4==4.12.3
pytest==7.4.0
loguru
httpx
requests-html
pyyaml
